/*header*/
#header-nav {
    background-color:#951C49;
    border-radius: 0;
    border : 0;
}

.navbar-brand span {
    color:#080808;
    font-weight:bold;
    font-size:1.3em;
}

#nav-list div {
    /*text-align:center;*/
    color:#080808;
    font-size:1.5em;
    display:block;
    vertical-align:center;
}

#nav-list {
    background-color:#f6b319;
    margin-top:0;
    margin-bottom:0;
}

#nav-list hr {
    margin: auto auto 0 0;
}

/*main content*/
.section {
    border: 1px solid black;
    background-color:gray;
    height: 1000px;
    margin-bottom: 10px;
}

.section-title {
    font-size: 1.5em;
}

